<%= form_for(char3p5_sheet) do |f| %>
  <% if char3p5_sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(char3p5_sheet.errors.count, "error") %> prohibited this char3p5_sheet from being saved:</h2>

      <ul>
      <% char3p5_sheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  --<%=@st%>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :strength %>
    <%= f.number_field :strength, min: 8, max: 20 %>
  </div>

  <div class="field">
    <%= f.label :dextery %>
    <%= f.number_field :dextery, min: 8, max: 20 %>
  </div>

  <div class="field">
    <%= f.label :constitution %>
    <%= f.number_field :constitution, min: 8, max: 20 %>
  </div>

  <div class="field">
    <%= f.label :intelligence %>
    <%= f.number_field :intelligence, min: 8, max: 20 %>
  </div>

  <div class="field">
    <%= f.label :wisdom %>
    <%= f.number_field :wisdom, min: 8, max: 20 %>
  </div>

  <div class="field">
    <%= f.label :charisma %>
    <%= f.number_field :charisma, min: 8, max: 20 %>
  </div>

  <div class="field">
    <%= f.label :gold_piece %>
    <%= f.number_field :gold_piece, min: 0, max: 200 %>
  </div>

  <div class="field">
    <%= f.label :silver_piece %>
    <%= f.number_field :silver_piece, min: 0, max: 200 %>
  </div>

  <div class="field">
    <%= f.label :cooper_piece %>
    <%= f.number_field :cooper_piece, min: 0, max: 200 %>
  </div>

  <div class="field">
    <%= f.label :skills %>
    <%= f.text_area :skills %>
  </div>

  <div class="field">
    <%= f.label :feats %>
    <%= f.text_area :feats %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
