<p id="notice"><%= notice %></p>

<h1>Char3p5 Sheets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Strength</th>
      <th>Dextery</th>
      <th>Constitution</th>
      <th>Intelligence</th>
      <th>Wisdom</th>
      <th>Charisma</th>
      <th>Gold piece</th>
      <th>Silver piece</th>
      <th>Cooper piece</th>
      <th>Skills</th>
      <th>Feats</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @char3p5_sheets.each do |char3p5_sheet| %>
      <tr>
        <td><%= char3p5_sheet.name %></td>
        <td><%= char3p5_sheet.strength %></td>
        <td><%= char3p5_sheet.dextery %></td>
        <td><%= char3p5_sheet.constitution %></td>
        <td><%= char3p5_sheet.intelligence %></td>
        <td><%= char3p5_sheet.wisdom %></td>
        <td><%= char3p5_sheet.charisma %></td>
        <td><%= char3p5_sheet.gold_piece %></td>
        <td><%= char3p5_sheet.silver_piece %></td>
        <td><%= char3p5_sheet.cooper_piece %></td>
        <td><%= char3p5_sheet.skills %></td>
        <td><%= char3p5_sheet.feats %></td>
        <td><%= char3p5_sheet.description %></td>
        <td><%= link_to 'Show', char3p5_sheet %></td>
        <td><%= link_to 'Edit', edit_char3p5_sheet_path(char3p5_sheet) %></td>
        <td><%= link_to 'Destroy', char3p5_sheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Char3p5 Sheet', new_char3p5_sheet_path %>
