<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @char3p5_sheet.name %>
</p>

<p>
  <strong>Strength:</strong>
  <%= @char3p5_sheet.strength %>
</p>

<p>
  <strong>Dextery:</strong>
  <%= @char3p5_sheet.dextery %>
</p>

<p>
  <strong>Constitution:</strong>
  <%= @char3p5_sheet.constitution %>
</p>

<p>
  <strong>Intelligence:</strong>
  <%= @char3p5_sheet.intelligence %>
</p>

<p>
  <strong>Wisdom:</strong>
  <%= @char3p5_sheet.wisdom %>
</p>

<p>
  <strong>Charisma:</strong>
  <%= @char3p5_sheet.charisma %>
</p>

<p>
  <strong>Gold piece:</strong>
  <%= @char3p5_sheet.gold_piece %>
</p>

<p>
  <strong>Silver piece:</strong>
  <%= @char3p5_sheet.silver_piece %>
</p>

<p>
  <strong>Cooper piece:</strong>
  <%= @char3p5_sheet.cooper_piece %>
</p>

<%= link_to 'Edit', edit_char3p5_sheet_path(@char3p5_sheet) %> |
<%= link_to 'Back', char3p5_sheets_path %>
