<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @char3p5.name %>
</p>

<p>
  <strong>Strength:</strong>
  <%= @char3p5.strength %>
</p>

<p>
  <strong>Dextery:</strong>
  <%= @char3p5.dextery %>
</p>

<p>
  <strong>Constitution:</strong>
  <%= @char3p5.constitution %>
</p>

<p>
  <strong>Intelligence:</strong>
  <%= @char3p5.intelligence %>
</p>

<p>
  <strong>Wisdom:</strong>
  <%= @char3p5.wisdom %>
</p>

<p>
  <strong>Charisma:</strong>
  <%= @char3p5.charisma %>
</p>

<%= link_to 'Edit', edit_char3p5_path(@char3p5) %> |
<%= link_to 'Back', char3p5s_path %>
