<p id="notice"><%= notice %></p>

<h1>Rpg Systems</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rpg_systems.each do |rpg_system| %>
      <tr>
        <td><%= rpg_system.name %></td>
        <td><%= link_to 'Show', rpg_system %></td>
        <td><%=# link_to 'Edit', edit_rpg_system_path(rpg_system) %></td>
        <td><%=# link_to 'Destroy', rpg_system, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%=# link_to 'New Rpg System', new_rpg_system_path %>
